# Rust Cargo files
target/
Cargo.lock

# IntelliJ IDE files
.idea/
*.iml
*.iws
*.ipr
*.iws
/out/
/.idea_modules/
/.gradle/

# mamidon files
*.sqlite
*.simg
*.wasm

.DS_Store
playground/

# VS Code extension build output
node_modules/
glue/vscode/out/